* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    background-image: url('../img/perry.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
}

main {
    background-color: #d3d3d33a;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    max-width: 200px;
    margin: 20px 0 0 0;
}

label {
    font-weight: 700;
    margin: 10px 0 0 0;
}

input {
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin: 5px;
}

select {
    padding: 10px;
    width: 100%;
    border-radius: 15px;
}

button {
    width: 100%;
    margin: 10px;
}

